/* VARIABLES */
:root {
  --max-width: 1000px;
  --min-width: 360px;
  --border-radius: 5px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background-color: radial-gradient(
      rgba(var(--background-start-rgb), 1),
      rgba(var(--background-end-rgb, 1))
    );

  --background-header: linear-gradient(
      rgba(var(--third-color-100-rgb), 0.3) 10%,
      rgba(var(--third-color-400-rgb), 1)
    );
  --background-footer: linear-gradient(
    rgba(var(--second-color-400-rgb), 1),
    rgba(var(--second-color-100-rgb), 0.3) 10%
    );

  --prime-color-400-rgb: 70, 70, 70;
  --prime-color-300-rgb: 88, 88, 88;
  --prime-color-200-rgb: 105, 105, 105;

  --second-color-400-rgb: 37, 37, 148;
  --second-color-100-rgb: 74, 74, 250;

  --third-color-400-rgb: 68, 148, 44;
  --third-color-100-rgb: 98, 188, 70;

  --white-rgb: 214, 219, 220;
  --black-rgb: 10, 10, 10;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      rgb(var(--prime-color-400-rgb)) 0deg,
      rgb(var(--prime-color-200-rgb)) 55deg,
      rgb(var(--second-color-400-rgb)) 120deg,
      rgb(var(--second-color-100-rgb)) 160deg,
      rgb(var(--third-color-100-rgb)) 200deg,
      rgb(var(--third-color-400-rgb)) 240deg,
      rgb(var(--prime-color-200-rgb)) 280deg,
      rgb(var(--prime-color-400-rgb)) 360deg);
  
  --secondary-glow: radial-gradient(rgba(0, 0, 0, 0.5),
      rgba(var(--prime-color-400-rgb), 1));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --fs-300: 0.75rem;
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.25rem;
  --fs-700: 2.25rem;
  --fs-800: 2.5rem;

  --fs-nav: var(--fs-500);
  --fs-title: var(--fs-700);
  --fs-subtitle: var(--fs-600);
  --fs-body: var(--fs-400);
  --fs-caption: var(--fs-300);
  --fs-button: var(--fs-500);

  --transition: all 0.2s ease-in-out;
  --btn-padding: 0.35em;
  --btn-box-shadow: .1rem .1rem .1rem .1rem rgba(var(--black-rgb), 0.5);
}

/* VARIABLES WHEN DARKMODE*/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

@media screen and (min-width: 50em) {
  :root {
    --fs-nav: var(--fs-600);
    --fs-title: var(--fs-800);
    --fs-subtitle: var(--fs-600);
    --fs-body: var(--fs-500);
    --fs-caption: var(--fs-400);
    --fs-button: var(--fs-600);
  }
}

/* RESETS https://andy-bell.co.uk/a-modern-css-reset/ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  /* resets styles of h's and everything else */
}

ul,
ol {
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* Avoids double bars */
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  /*line-height: 1.5;*/
  color: rgb(var(--foreground-rgb));
  background: var(--secondary-glow);
  height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Clases */

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background: white;
  width: 100%;
  max-width: var(--max-width);
  background-image: url("../../public/logo-invertido-512.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

/* 
@media screen and (min-width: 500px) {
  .main {
    min-width: 500px;
  }
} */

@media screen and (min-width: 768px) {
  .main {
    padding: 3rem;
  }
}