.header {
  background: var(--background-header);
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: space-between;
}

.header nav {
  grid-column: 1/3;
  padding-top: 1rem;
}

.navHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  height: 100%;
}

.title {
  font-size: var(--fs-title);
  align-self: center;
  text-align: center;
}